.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.cabecalho {
    background-color: var(--cor-cabecalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1em;
}
.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}
.container__botao {
    display: none;
}
.container__botao:checked~.lista__menu {
    display: block;
}
.lista__menu_titulo, .lista__menu_item {
    padding: 1em;
    background-color: var(--cor-cabecalho);
}
.lista__menu_titulo {
    color: var(--cor-secundaria);
    font-weight: 700;
}
.lista__menu_link {
    background: var(--gradiente-azul);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.container_titulo {
    display: none;
}
.opcoes {
    display: none;
}
@media screen and (min-width: 1024px) {
    .container_titulo, .container_titulo__negrito {
        color: var(--azul);
        font-family: var(--fonte-logo);
        font-size: 30px;
    }
    .container_titulo {
        font-weight: 400;
        display: block;
    }
    .container_titulo__negrito  {
        font-weight: 700;
    }
    .opcoes {
        display: flex;
        color: var(--azul);
        font-family: var(--fonte-principal);
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .opcoes_item {
        padding: 0 1em;
    }
    .opcoes_item__link {
        text-decoration: none;
    }
    .container_imagem__link___fav {
        display: none;
    }
}