.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.cabecalho {
    background-color: var(--cor-cabecalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1em;
}
.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}
.container__botao {
    display: none;
}
.container__botao:checked~.lista__menu {
    display: block;
}
.lista__menu_titulo, .lista__menu_item {
    padding: 1em;
    background-color: var(--cor-cabecalho);
}
.lista__menu_titulo {
    color: var(--cor-secundaria);
    font-weight: 700;
}
.lista__menu_link {
    color: var(--azul);
    text-decoration: none;
}
.container_titulo {
    display: none;
}
.opcoes {
    display: none;
}
.container_texto {
    display: none;
}
@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 0 2em;
    }
    .container_titulo, .container_titulo__negrito {
        color: var(--azul);
        font-family: var(--fonte-logo);
        font-size: 30px;
    }
    .container_titulo {
        font-weight: 400;
        display: block;
        padding-top: 0.25em;
    }
    .container_titulo__negrito  {
        font-weight: 700;
    }
    .opcoes {
        display: flex;
        color: var(--azul);
        font-family: var(--fonte-principal);
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .opcoes_item {
        padding: 1em 1em;
    }
    .opcoes_item__link {
        text-decoration: none;
    }
    .container_imagem__link___fav {
        display: none;
    }
    .cabecalho__menu {
        display: none;
    }
    .opcoes_menu__categorias:checked ~ .lista__menu {
        display: block;
        width: auto;
    }
    .opcoes_item__categorias:hover {
        background: var(--gradiente-azul);
        color: var(--cor-cabecalho);
    }
    .opcoes_menu__categorias:checked ~ .opcoes_item__categorias {
        font-weight: 700;
    }
    .opcoes_menu__categorias {
        display: none;
    }
    .lista__menu_item:hover, .lista__menu_link:hover {
        background-color: var(--azul);
        color: var(--cor-cabecalho);
    }
}
@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 3em;
    }
    .container_texto {
        display: block;
    }
    .container_link {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--azul);
        font-size: 20px;
    }
    .opcoes {
        margin-right: auto;
        margin-left: 3em;
    }
}