@import "./styles/header.css";
@import "./styles/banner.css";
@import "./styles/carrossel.css";
@import "./styles/topicos.css";
@import "./styles/contato.css";
@import "./styles/rodape.css";

:root {
    --cor-de-fundo: #EBECEE;
    --cor-secundaria: #EB9B00;
    --cor-cabecalho: #FFFFFF;
    --azul: #002F52;
    --gradiente-azul: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --fonte-logo: "Josefin Sans";
    --cor-cinza: #474646;
    --cor-cinza-claro: #858585;
}
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}